.subjectHeader {
  color: darkgreen;
  font-family: sans-serif;
}

blockquote {
  background-color: darkred;
  color: limegreen;
}

#scoreBoard {
  border: 4px solid darkblue;
  text-align: center;
}

#scoreBoard th {
  list-style: square;
  font-weight: bold;
  color: blue;
  padding: 20px;
}

#scoreBoard tbody > tr:first-child{
  background-color: rgba(0, 0, 250, 0.5);
}

#scoreBoard tbody > tr:last-child{
  background-color: rgba(250, 0, 0, 0.5);
}

ul#teamRoster > li:first-child {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-color: rgba(0, 0, 250, 0.2);
  background-size: 40px;
}

ul#teamRoster > li:first-child > ul > li:nth-child(2) > ol > li:first-child {
  font-weight: bold;
}

ul#teamRoster > li:first-child > img{
  display: none;
}

ul#teamRoster > li:last-child {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-color: rgba(250, 50, 0, 0.2);
  background-size: 40px;
}

ul#teamRoster > li:last-child > ul > li:nth-child(2) > ol > li:first-child {
  font-weight: bold;
}

ul#teamRoster > li:last-child > img{
  display: none;
}

ul {
  list-style: square;
}

.hyperLink:hover {
  background-color: yellow;
  text-decoration: none;
}

#checkbox-grid {
  list-style: none;
}
